# Node modules (reinstalled on build server)

node_modules/

# Expo build artifacts

.expo/
dist/
web-build/
.expo-shared/

# Native folders (managed workflow)

ios/
android/

# Local environment & secrets

.env
.env.local
.env._.local
_.pem
_.jks
_.p12
_.key
_.mobileprovision

# Metro / debug

.metro-health-check*
npm-debug.*
yarn-debug._
yarn-error._

# System files

.DS*Store
*.orig.\_

# TypeScript cache

\*.tsbuildinfo

# IDEs

.vscode/
.idea/

# Example / test files

app-example/
